@import 'https://fonts.googleapis.com/css?family=Raleway';
body {
    margin: 0px;
    background-color: black;
    color: white;
}

header,
footer {
    font-family: Raleway;
    margin: 0 auto;
    padding: 5em 3em;
    text-align: center;
    background: #555;
}

header h1 {
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span {
    color: #222;
}

footer span {
    color: #AAA;
}

div.well {
    font-family: Raleway;
    margin: 0 auto;
    padding: 10em 3em;
    text-align: center;
    color: wheat;
    height: 0px;
}

div.well a {
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.teal {
    background: #0c1010;
    color: wheat;
}


/* Top and Bottom borders go out */


/* Border from Y to X  */

div.borderYtoX a:before,
div.borderYtoX a:after {
    position: absolute;
    opacity: 0.5;
    height: 200%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX a:before {
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after {
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before,
div.borderYtoX a:hover:after {
    opacity: 1;
    height: 2px;
    width: 100%;
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

.intro {
    font-size: 23px;
}


/* SCROLL BAR */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(150, 150, 150, 0.8);
}

body {
    background: black;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.songs {
    color: black;
}

.carousel {
    width: 300px;
    height: 325px;
    position: relative;
    background-image: url(http://audeficheux.com/projects/carousel/src/images/background0.png);
    background-size: cover;
    transition: background-image 0.5s ease;
}


/*Slides*/

.carousel .slides {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.carousel .slides .items {
    position: relative;
    width: 10000px;
    font-size: 0;
    padding-left: 37.5px;
    transition: all ease-out 0.3s;
}

.carousel .slides .item {
    margin: 25px 12.5px;
    width: 200px;
    height: 300px;
    display: inline-block;
    background-repeat: no-repeat;
}

.carousel .slides .item .image {
    height: 200px;
    width: 200px;
    -moz-box-shadow: 6px 9px 20px #111;
    -webkit-box-shadow: 6px 9px 20px #111;
    -o-box-shadow: 6px 9px 20px #111;
    box-shadow: 6px 9px 20px #111;
}

.carousel .slides .item p {
    font-size: 12px;
    color: white;
    width: 200px;
    position: absolute;
    top: 250px;
    text-align: center;
}

.carousel .slides .item .artist {
    font-weight: 300;
    font-size: 16px;
    height: 25px;
}

.carousel .slides .item .track {
    font-weight: 500;
    font-size: 14px;
    top: 275px;
}

.carousel .siblings .sibling {
    position: absolute;
    width: 25px;
    height: 200px;
    top: 25px;
    background: transparent;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

.carousel .siblings .sibling.prev {
    left: 0px;
}

.carousel .siblings .sibling.next {
    right: 0px;
}

.carousel .siblings .play {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 25px;
    left: 50px;
    background-image: url(http://audeficheux.com/projects/carousel/src/images/play.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.8s ease;
}

.carousel .siblings .play.invisible {
    background-image: none;
    transition: all 0.8s ease;
}

.carousel .siblings .play.invisible:hover {
    background-image: url(http://audeficheux.com/projects/carousel/src/images/pause.png);
    ;
}


/*Seek Bar */

.carousel .seek-bar {
    position: absolute;
    top: 315px;
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel .seek-bar .progress-bar {
    background-color: rgba(30, 30, 30, 0.6);
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    -ms-transform-origin: 0;
    -o-transform-origin: 0;
    transform-origin: 0;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}


/* SONG LIST */

.songs .choice {
    width: 300px;
    height: 200px;
    background-color: white;
}

.songs .choice .tracks {
    height: 170px;
    overflow: scroll;
}

.songs .choice .title {
    width: 290px;
    height: 30px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}

.songs .choice .title p {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: #555;
    font-size: 10px;
}

.songs .choice .track {
    width: 250px;
    margin: auto;
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-weight: 300;
    cursor: pointer;
}

.songs .choice .track div {
    display: inline-block;
}

.choice .track .number {
    line-height: 50px;
}

.songs .choice .track .name {
    height: 30px;
    vertical-align: middle;
    padding-left: 25px;
}

.songs .choice .track .name .song {
    margin-top: 4px;
    font-size: 12px;
}

.songs .choice .track .speakers {
    height: 20px;
    width: 20px;
    background-image: url(http://audeficheux.com/projects/carousel/src/images/speaker.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    float: right;
    margin-top: 15px;
}

.songs .choice .track .speakers.invisible {
    display: none;
}

.credits {
    width: 250px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    font-size: 12px;
    color: #555;
}

.credits a {
    text-decoration: none;
    color: black;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-bottom-color: red;
    border-top: #d83535;
    border-top-color: #020100;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
a,
a:hover {
    text-decoration: none;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
    margin: 0;
    padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    width: 40px;
    height: 28px;
    color: White;
    background-color: #000;
    padding-top: 12px;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

.socialbtns .fa:hover {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}